body {
    background-color: var(--primary);
}

.center-text {
    text-align: center;
    align-items: center;
}

.div {
    background-color: #FFFF;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 50px;
    background-color: var(--secondary);
}

.button {
    height: 30px;
    width: 100px;
    border-radius: 30px;
    background-color: #FFFF;
}

.button2 {
    height: 30px;
    width: 100px;
    border-radius: 30px;
    background-color: #FFFF;
    margin-left: 90%;
    margin-bottom: 1%;
}

:root {
    --beige: #ece6e3;
    --teal: #44b0ab;
    --white: #FFF;
    --yellow: #fbf2c8;

    --primary: var(--beige);
    --secondary: var(--white);

}

.normal {
    --primary: var(--beige);
    --secondary: var(--white);
}

.imPomu {
    --primary: var(--teal);
    --secondary: var(--yellow);
}
