body {
    background-color: var(--primary);
}

.center-text {
    text-align: center;
    align-items: center;
    color: var(--tertiary);
    background-color: #FFF;
    background-blend-mode: overlay; 
    opacity: 80%;
    width: 100%;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.center-items {
    text-align: center;
    align-content: center;
    color: var(--tertiary);
}

.div {
    background-color: #FFFF;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 50px;
    background-color: var(--secondary);
}

.button {
    height: 30px;
    width: 100px;
    border-radius: 30px;
    background-color: var(--secondary);
    color: var(--tertiary);
}

.button:hover, .button2:hover {
    background-color: var(--primary);
  } 

.button2 {
    height: 30px;
    width: 100px;
    border-radius: 30px;
    background-color: var(--secondary);
    margin-left: 90%;
    margin-bottom: 1%;
    color: var(--tertiary);
}

:root {
    --beige: #ece6e3;
    --teal: #44b0ab;
    --white: #FFF;
    --yellow: #fbf2c8;
    --black: #000;
    --cyan: #0c262c;
    --pomu: https://vtubernewsdrop.com/content/images/2023/01/pomu-rainpuff-3d-nijisanji-waving.jpg;
    --brown: #B9B9B9;

    --primary: var(--beige);
    --secondary: var(--white);
    --tertiary: var(--black);
    --quartrary: var(--brown);

}

.normal {
    --primary: var(--beige);
    --secondary: var(--white);
    --tertiary: var(--black);
    --quartrary: var(--brown);
}

.imPomu {
    --primary: var(--teal);
    --secondary: var(--yellow);
    --tertiary: var(--cyan);
    --quartrary: var(--yellow);
}

.profile {
    height: auto;
    width: 13%;
    justify-content: space-between;
    text-align: center;
    display: flexbox;
    background-color: var(--secondary);
    box-shadow: 0 10px 10px #fff;
    margin-right: 3.5%;
    margin-top: 1%;
    margin-bottom: 1.5%;
    animation: beeg 5s;
    animation-play-state: paused;
  }

  .img {
    width: 10vw;
  }

  .profiles {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
  }

.profile:hover {
    animation-play-state: running;
}

.srch {
    margin-left: 83%;
}

.section1 {
    display: block;
    height: 15vw;
    width: 100%;
}

.teehee {
    background: var(--primary);
    width: 90%;
    margin-left: 3%;
    padding-right: 2vw;
    padding-left: 2vw;
    margin-bottom: 2%;
    padding-bottom: 2vw;
}

body {
    background-color: var(--quartrary);
}

@keyframes beeg {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(5);
    }

}